@use 'styles/breakpoints' as breakpoints;

.root {
  width: breakpoints.$dektopWithSpace;
  margin: 0 auto;

  @include breakpoints.downDesktop {
    width: 100vw;
    padding: 0 breakpoints.$mobileSpace;
  }
}
