$mobile: 420px;
$desktop: 1280px;

$mobileSpace: 26px;
$desktopSpace: 16px;

$dektopWithSpace: calc($desktop - ($desktopSpace * 2));

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile}) and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin downDesktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
