$primary-colors-3-959595: #959595;
$primary-colors-2-000000: #000;
$primary-colors-red: #d01c1f;
$primary-colors-black: #020002;
$primary-colors-gray: #878787;
$primary-colors-light-gray: #dcdcdc;
$primary-colors-light: #f6f4f4;
$primary-colors-white: #fff;
$neutrals-4: #777e90;
$neutrals-6: #e6e8ec;
$primary-4: #58c27d;
